.HomePage {
    background-color: black;
    .team-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .application-name {
        margin: 20px auto;
        font-size: 3rem;
    }
}